.ProjectPage
  background-color: ghostwhite;
  .header
    .heading
        #project_name.MuiInputBase-input
          font-size: xx-large;
          text-align: center;
          padding: 5%;
        .MuiInput-underline:before
          border-bottom: none;
    .deadline
      color: darkred;
      font-weight: 600;
      padding: 0 20px;
      text-align: center;
      display: flex;
      position: relative;
      .deadline-label
        height: fit-content;
      p
        margin-top: auto;
      .MuiInputBase-root,.MuiIconButton-root
        color: darkred;
        font-weight: 600;
      .MuiInputBase-input
        text-align: center;
      .MuiInput-underline:before
        border-bottom: none;
      .MuiInput-underline:after
        border-bottom: 0.5px solid gray;
  .description
    .ck-blurred, .ck, .ck-content, .ck-editor__editable, .ck-rounded-corners, .ck-editor__editable_inline
      color: darkgray;
      height: 200px;
      overflow-y: auto;