.ProjectPage
  background-color: ghostwhite;
  .header
    .ck.ck-editor__editable_inline[dir=ltr]
      // height: 100px;
      // line-height: 100px;
      text-align: center;
    .deadline
      color: darkred;
      font-weight: 600;
      // height: 100px;
      // line-height: 100px;
      padding: 0 20px;
      text-align: center;
      display: flex;
      position: relative;
      .deadline-label
        height: fit-content;
      p
        margin-top: auto;
      .MuiInputBase-root,.MuiIconButton-root
        color: darkred;
        font-weight: 600;
      .MuiInputBase-input
        text-align: center;
      .MuiInput-underline:before
        border-bottom: none;
      .MuiInput-underline:after
        border-bottom: 0.5px solid gray;
  .description
    .ck-blurred, .ck, .ck-content, .ck-editor__editable, .ck-rounded-corners, .ck-editor__editable_inline
      color: darkgray;
      height: 200px;
      overflow-y: auto;