.header
  // display: flex;
  // justify-content: space-between;
  width: 95%;
  border: 0.5px solid darkgray;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  a
    // padding: 0 20px;
    // margin-top: 35px;
  .project_name
    // height: 100px;
    // line-height: 100px;
    text-align: center;
  .deadline
    color: darkred;
    font-weight: 500;
    // height: 100px;
    // line-height: 100px;
    padding: 0 20px;
    text-align: center;