// Mobile view
@media screen and (max-width: 767px)
  .list_container
    display: block;
    .projectTile
      margin: 0 auto;
      margin-bottom: 20px;

@media screen and (min-width: 600px) and (max-width: 1023px)
  .list_container
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .projectTile
      margin: 20px;

// Tablet view
@media screen and (min-width: 768px)
  .list_container
    display: flex;
    justify-content: center;
    .projectTile
      margin: 20px;

// Laptop/Desktop view
@media screen and (min-width: 1024px)
  .list_container
    display: flex;