// Mobile view
@media screen and (max-width: 767px)
  .list_container
    display: block;
    .projectTile
      margin: 0 auto;
      margin-bottom: 10%;


// Tablet view
@media screen and (min-width: 768px)
  .list_container
    display: flex;
    justify-content: center;
    .projectTile
      margin: 10px;

// Laptop/Desktop view
@media screen and (min-width: 1024px)
  .list_container
    display: flex;
    .projectTile
      margin: 25px;