// Mobile view
@media screen and (max-width: 767px)
  // .searchBar
  //   margin-bottom: 30px;
  .list
    display: block;
    .projectCard
      margin: 0 auto;
      margin-bottom: 20px;

@media screen and (min-width: 600px) and (max-width: 1023px)
  .list
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .projectCard
      margin: 20px;

// Tablet view
@media screen and (min-width: 768px)
  // .searchBar
  //   margin-bottom: 10px;
  //   margin-left: 0.5px;
  //   margin-right: 0.5px;
  .list
    display: flex;
    justify-content: space-evenly;
    height: 575px;
    overflow-y: auto;
    border: 0.5px solid darkgray;
    .projectCard
      margin: 20px;    
  .list::-webkit-scrollbar
    width: 15px;
  .list::-webkit-scrollbar-track
    background-color: #e6e6fa;
  .list::-webkit-scrollbar-thumb
    background-color: #add8e6;

// Laptop/Desktop view
@media screen and (min-width: 1024px)
  .searchBar
    margin-left: 15px;
    margin-right: 15px;
  .list
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    margin-top: 0;

@media screen and (min-width: 1200px)
  .Projects
    max-width: 85%;
    margin: 0 auto;