.Projects
  .pageTitle
    text-align: center;
    padding: 25px;
  .searchBar
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .SearchForm
      display: flex;
    button, span
      margin: 0 10px;
    .btn
      margin: 0;
    select
      padding: 6px 12px;
      margin: 0 10px;
  .list
    .projectCard
      width: 300px;
      height: 300px;
      padding: 20px;
      border: 0.5px solid darkgray;
      .name, .deadline
        text-align: center;
        margin-bottom: 20px;
      .deadline
        color: darkred;
      .progress
        text-align: center;
        // border: 0.5px solid skyblue;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      .progress
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: white;
        .progress_dial
          display: flex;
          align-items: center;
          padding-left: 3%;
          width: 75px;
          height: 75px;
          .CircularProgressbar-text
            font-size: 30px !important;
          .CircularProgressbar-path
            stroke-linecap: square;
        .tasks_completed
          display: block;
          // border: 0.5px solid green;
          width: 50%;
          height: 100%;
          h4
            font-size: 13px;
            margin: 0;
            margin-top: 5px;
            // border-bottom: 0.5px solid darkgray;
            padding-bottom: 2px;
          .ratio
            // margin-top: 10px;
            font-size: xx-large;
            font-variant-numeric: diagonal-fractions;
      .buttons_container
        display: block;
        .button
          width: 100%;
          margin-top: 15px;
    .plus_icon
      position: relative;
      top: 50px;
      left: 50%;
      transform: translate(-50%,-50%);
      color: lightslategray;
    .plus_icon:hover
      cursor: pointer;
    .no_projects_found
      display: table;
      vertical-align: middle;
      padding: 10%;
      position: absolute;
      top: 25%;
      border: 1px dashed lightgray;