.Projects
  border: 0.5px solid darkgray;
  .pageTitle
    text-align: center;
  .searchBar
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  .list
    .projectTile
      width: 300px;
      height: 300px;
      padding: 25px;
      border: 0.5px solid darkgray;
      .name, .deadline, .progress
        text-align: center;
        // border: 0.5px solid skyblue;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      .name
        font-size: x-large;
        color: deepskyblue;
        height: 40px;
      .deadline
        color: darkred;
        height: 30px;
        font-size: medium;
      .progress
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: white;
        .progress_dial
          display: flex;
          align-items: center;
          padding-left: 15%;
          width: 100px;
          height: 100px;
          .CircularProgressbar-text
            font-size: 30px !important;
          .CircularProgressbar-path
            stroke-linecap: square;
        .tasks_completed
          display: block;
          // border: 0.5px solid green;
          width: 50%;
          height: 100%;
          h4
            font-size: 13px;
            margin: 0;
            margin-top: 10px;
            // border-bottom: 0.5px solid darkgray;
            padding-bottom: 2px;
          .ratio
            // margin-top: 10px;
            font-size: xx-large;
            font-variant-numeric: diagonal-fractions;
      .buttons_container
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        .button
          width: 40%;