.Projects
  .header
    display: flex;
    .pageTitle
      text-align: center;
      padding: 25px;
      width: 100%;
  .searchBar
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid darkgray;
    .SearchForm
      display: flex;
      input
        padding: 6px 12px;
    button
      margin: 0 10px;
    .Add_New_Project_button
      box-shadow: inset 0px 1px 0px 0px #caefab;
      color: #fff;
      background-color: #28a745;
      background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
      border-radius: 3px;
      border: 1px solid #268a16;
      display: inline-block;
      cursor: pointer;
      font-family: Arial;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #607d8b;
    .Add_New_Project_button:hover
      background-color: #28a745;
      background-image: linear-gradient(-180deg, #2ebd4f, #269740 90%);
    .Add_New_Project_button:active
      position: relative;
      top: 1px;
    // span
    //   margin-right: 0;
    //   margin-left: 15px;
    .btn
      margin: 0;
    select
      padding: 6px 12px;
      margin: 0 10px;
  .list
    border-top: none;
    border-bottom: 0.5px solid darkgray;
    background-color: ghostwhite;
    .projectCard
      width: 300px;
      height: 300px;
      padding: 20px;
      border: 0.5px solid darkgray;
      .name, .deadline
        text-align: center;
        margin-bottom: 20px;
      .deadline
        color: darkred;
      .progress
        text-align: center;
        // border: 0.5px solid skyblue;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      .progress
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: white;
        .progress_dial
          display: flex;
          align-items: center;
          padding-left: 3%;
          width: 75px;
          height: 75px;
          .CircularProgressbar-text
            font-size: 30px !important;
          .CircularProgressbar-path
            stroke-linecap: square;
        .tasks_completed
          display: block;
          // border: 0.5px solid green;
          width: 50%;
          height: 100%;
          h4
            font-size: 13px;
            margin: 0;
            margin-top: 5px;
            // border-bottom: 0.5px solid darkgray;
            padding-bottom: 2px;
          .ratio
            // margin-top: 10px;
            font-size: xx-large;
            font-variant-numeric: diagonal-fractions;
      .buttons_container
        display: block;
        .button
          width: 100%;
          margin-top: 15px;
        .Page_button
          box-shadow: inset 0px 1px 0px 0px #276873;
          background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
          background-color: #599bb3;
          border-radius: 3px;
          border: 1px solid #29668fad;
          display: inline-block;
          cursor: pointer;
          color: #ffffff;
          font-family: Arial;
          font-size: 15px;
          font-weight: bold;
          padding: 6px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #3d768a;
        .Page_button:hover
          background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
          background-color: #408c99;
        .Page_button:active
          position: relative;
          top: 1px;
    .plus_icon
      position: relative;
      top: 50px;
      left: 50%;
      transform: translate(-50%,-50%);
      color: lightslategray;
    .plus_icon:hover
      cursor: pointer;
    .no_projects_found
      display: table;
      vertical-align: middle;
      padding: 10%;
      position: absolute;
      top: 25%;
      border: 1px dashed lightgray;
.modal-footer
  button
    margin: 0 10px;
  .Add_New_Project_button
    box-shadow: inset 0px 1px 0px 0px #caefab;
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    border-radius: 3px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #607d8b;
  .Add_New_Project_button:hover
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #2ebd4f, #269740 90%);
  .Add_New_Project_button:active
    position: relative;
    top: 1px;
  .Cancel_New_Project-button
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
  .Cancel_New_Project-button:hover
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
  .Cancel_New_Project-button:active
    position: relative;
    top: 1px;